<div class="containers mt-4">
    <h3 class="text-center mb-3 text-primary" style="font-weight: bold;">Permissions List</h3>
    <div class="tablecontainer">

        <table class="permissiontable">
            <thead class="">
                <tr>
                    <th>Permissions</th>
                    <th *ngFor="let role of Roles">{{role.roleName}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let permission of PermissionList"> 
                    <td>{{permission}}</td>
                    <td *ngFor="let role of Roles">
                        <div *ngIf="role.permissions.includes(permission);then truepart;else falsepart"></div>
                        {{role.permissions.includes(permission)}}
    
    
                        <ng-template #truepart>
                            <input class="form-check-input" type="checkbox" checked >
                        </ng-template>
                        <ng-template #falsepart>
                            <input  type="checkbox" >
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>





