.forgotpassword{
  
    color: black;
    font-family:none;
    background-image: url('../../../../public/school.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 50px;
    padding-left: 15vw;
    padding-right: 15vw;
    /* padding-bottom: ; */
}

.card{
    min-width: 400px;
}