.teacherleave{
    font-style: italic;
  font-family: none;
  font-weight: 600;
}

.maincontainer{
  background-image: url("../../../../public/LeaveModulebackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
        justify-content: center;
}

tr{
  text-align: center;
}

.card
{
  width: 100%;
}

.tablerow{
  text-align: center;
}
.table{
  min-width: 700px;
}

.containers{
  overflow-y: scroll;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}





@media screen and (max-width:769px) {
}
@media screen and (max-width:425px) {   
  .actionbtn, .containers{
    font-size: 10px;
  }
}